template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_TrainOpenAIwithEmployeeSkills_name": {
            "type": "String"
        },
        "tenant": {
            "type": "String"
        },
        "clientId": {
            "type": "String"
        },
        "OpenAPIKey": {
            "type": "SecureString"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_TrainOpenAIwithEmployeeSkills_name')]",
            "location": "australiasoutheast",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "basemodel": {
                            "defaultValue": "",
                            "type": "String"
                        },
                        "secret": {
                            "defaultValue": "",
                            "type": "SecureString"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Month",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each_3": {
                            "foreach": "@body('Parse_JSON')?['value']",
                            "actions": {
                                "Append_to_string_variable_2": {
                                    "runAfter": {
                                        "Parse_JSON_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "OpenAITrainingJSON",
                                        "value": "\\n{\"prompt\":\"Recommend me resource from the company.\",\"completion\":\"@{body('Parse_JSON_2')?['displayName']}\" }"
                                    }
                                },
                                "For_each_2": {
                                    "foreach": "@body('Parse_JSON_2')?['skills']",
                                    "actions": {
                                        "Append_to_string_variable": {
                                            "runAfter": {},
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "OpenAITrainingJSON",
                                                "value": "\\n{\"prompt\":\"Recommend me a resource from the company with @{items('For_each_2')} skill.\",\"completion\":\"@{body('Parse_JSON_2')?['displayName']} is skilled in @{items('For_each_2')}\" }"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Append_to_string_variable_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "HTTP_5": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "clientId": "[parameters('clientId)]",
                                            "secret": "@variables('AADApplicationSecretValue')",
                                            "tenant": "[parameters('tenant')]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/users/@{items('For_each_3')?['id']}/?$select=displayName,skills"
                                    }
                                },
                                "Parse_JSON_2": {
                                    "runAfter": {
                                        "HTTP_5": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP_5')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "skills": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP": {
                            "runAfter": {
                                "Initialize_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "[parameters('clientId)]",
                                    "secret": "@variables('AADApplicationSecretValue')",
                                    "tenant": "[parameters('tenant')]",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/beta/users"
                            }
                        },
                        "HTTP_2": {
                            "runAfter": {
                                "Parse_JSON_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "model": "@{variables('LatestModelToTrain')}",
                                    "training_file": "@{body('Parse_JSON_3')?['id']}"
                                },
                                "headers": {
                                    "Authorization": "Bearer @{variables('OpenAPIKey')}",
                                    "Content-Type": "application/json"
                                },
                                "method": "POST",
                                "uri": "https://api.openai.com/v1/fine-tunes"
                            }
                        },
                        "HTTP_4": {
                            "runAfter": {
                                "Initialize_variable_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "Raw",
                                    "value": "Bearer @{variables('OpenAPIKey')}"
                                },
                                "body": "--boundary\nContent-Disposition: form-data; name=\"purpose\"\n\nfine-tune\n--boundary\nContent-Disposition: form-data; name=\"file\"; filename=\"data.jsonl\"\n@{replace(variables('OpenAITrainingJSON'), '\\n', decodeUriComponent('%0A'))}\n--boundary--",
                                "headers": {
                                    "Content-Type": "multipart/form-data;boundary=\"boundary\""
                                },
                                "method": "POST",
                                "uri": "https://api.openai.com/v1/files"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AADApplicationSecretValue",
                                        "type": "string",
                                        "value": "@parameters('secret')"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OpenAITrainingJSON",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_3": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "LatestModelToTrain",
                                        "type": "string",
                                        "value": "@parameters('basemodel')"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_4": {
                            "runAfter": {
                                "For_each_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OpenAPIKey",
                                        "type": "string",
                                        "value": "[parameters('OpenAPIKey)]"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "accountEnabled": {
                                                        "type": "boolean"
                                                    },
                                                    "ageGroup": {},
                                                    "businessPhones": {
                                                        "type": "array"
                                                    },
                                                    "city": {},
                                                    "companyName": {},
                                                    "consentProvidedForMinor": {},
                                                    "country": {},
                                                    "createdDateTime": {
                                                        "type": "string"
                                                    },
                                                    "creationType": {},
                                                    "deletedDateTime": {},
                                                    "department": {},
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "employeeHireDate": {},
                                                    "employeeId": {},
                                                    "employeeLeaveDateTime": {},
                                                    "employeeOrgData": {},
                                                    "employeeType": {},
                                                    "externalUserConvertedOn": {},
                                                    "externalUserState": {},
                                                    "externalUserStateChangeDateTime": {},
                                                    "faxNumber": {},
                                                    "givenName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "imAddresses": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "infoCatalogs": {
                                                        "type": "array"
                                                    },
                                                    "isManagementRestricted": {},
                                                    "isResourceAccount": {},
                                                    "jobTitle": {},
                                                    "legalAgeGroupClassification": {},
                                                    "mail": {
                                                        "type": "string"
                                                    },
                                                    "mailNickname": {
                                                        "type": "string"
                                                    },
                                                    "mobilePhone": {},
                                                    "officeLocation": {},
                                                    "onPremisesDistinguishedName": {},
                                                    "onPremisesDomainName": {},
                                                    "onPremisesImmutableId": {},
                                                    "onPremisesLastSyncDateTime": {},
                                                    "onPremisesSamAccountName": {},
                                                    "onPremisesSecurityIdentifier": {},
                                                    "onPremisesSyncEnabled": {},
                                                    "onPremisesUserPrincipalName": {},
                                                    "userPrincipalName": {
                                                        "type": "string"
                                                    },
                                                    "userType": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_JSON_3": {
                            "runAfter": {
                                "HTTP_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_4')",
                                "schema": {
                                    "properties": {
                                        "bytes": {
                                            "type": "integer"
                                        },
                                        "created_at": {
                                            "type": "integer"
                                        },
                                        "filename": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "object": {
                                            "type": "string"
                                        },
                                        "purpose": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "status_details": {}
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}